<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <div class="container">
        <h1>Edit User</h1>
        <form action="/users/<%= user._id %>" method="post" class="form">
            <input type="text" name="name" placeholder="Enter Name" value="<%= user.name %>">
            <input type="email" name="email" placeholder="Enter Email" value="<%= user.email %>">
            <input type="number" name="age" placeholder="Enter Age" value="<%= user.age %>">
            <textarea name="bio" rows="4" placeholder="Enter Bio"><%= user.bio %></textarea>
            <button type="submit" class="btn-blue">Update user</button>
        </form>
    </div>
</body>
</html>